DIV#forohfor {
  overflow: hidden;
  background-image: url(resources/oswald.jpg);
  background-repeat: no-repeat;
}

DIV#gpg {
  width: 500px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
  text-align: left;
  color: rgb(120,120,120);
  font-face: regular;

}

b.hw {
  color: rgb(175,175,175);
  font-face: bold;
}

pre.gpg {
}

